#root {
    width: 40%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fruta {
    width: 100px;
    height: 100px;
    background-color: rgb(101, 149, 221);
    margin: 5px;
    font-size: 40px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activar {
    background-color: rgb(156, 43, 160);
    content-visibility: hidden;
    transform: rotateY(180deg);
    transition: .4s;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
